<!DOCTYPE html>
<html lang="pt-br">

<head>
    <%- include('./partials/head'); %>
</head>

<body>

    <nav id="navbar-example2" class="navbar navbar-expand-md fixed-top navbar-light bg-white">
        <div class="container-fluid justify-content-between mx-10">
            <a class="navbar-brand img-fluid mx-1" href="#"><img src="/images/LOGO.png" alt="logo" width="150"></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
            <div class="collapse navbar-collapse justify-content-end flex-grow-0" id="navbarTogglerDemo01">
                <ul class="nav nav-pills justify-content-end">
                    <li class="nav-item">
                        <a class="nav-link text-center fs-5" href="./userprofile">INÍCIO</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>


    <div class="container container-register w-60 mb-5">
        <div class="header">
            <h5 class="modal-register" id="exampleModalLabel">ALTERAR CADASTRO</h5>
        </div>
    <form class="form-control" action="/users/updateprofile" method="POST">
            <div class="row">
                <div class="form-floating col-sm-12 col-md-12 mb-2">
                    <input value="<%= name %>" disabled type="text" class="form-control" name="name" id="name" placeholder="Nome">
                    <label for="floatingInput">Nome*:</label>
                </div>
                <div class="form-floating col-sm-12 col-md-6 mb-2">
                    <input value="<%= cpf %>" disabled type="text" class="form-control" name="cpf" id="cpf" placeholder="CPF">
                    <label for="floatingInput">CPF*:</label>
                </div>
                <div class="form-floating col-sm-12 col-md-6 mb-2">
                    <input value="<%= cns %>" disabled type="text" class="form-control" name="cns" id="cns" placeholder="SUS">
                    <label for="floatingInput">Cartão SUS*:</label>
                </div>
                <div class="form-floating col-sm-12 col-md-12 mb-2">
                    <input value="<%= mother_name %>" disabled type="text" class="form-control" name="mother_name" id="mother_name" placeholder="NomeCompleto">
                    <label for="floatingInput">Nome Completo da Mãe*:</label>
                </div>
                <div class="form-floating col-sm-12 col-md-6 mb-2">
                    <input value="<%= birth_date %>" disabled type="text" class="form-control" name="birth_date" id="birth_date" placeholder="Nascimento">
                    <label for="floatingInput">Nascimento*:</label>
                </div>
                <div class="form-floating col-sm-12 col-md-6 mb-2">
                    <input value="<%= phone_number %>" type="text" class="form-control" name="phone_number" id="phone_number" placeholder="Telefone">
                    <label for="floatingInput">Telefone*:</label>
                </div>
                <div class="form-floating col-sm-12 col-md-6 mb-2">
                    <select value="<%= gender %>" disabled class="form-select px-10" id="gender" name="gender">
                                <option>Sexo*</option>
                                <option value="1">Feminino</option>
                                <option value="2">Masculino</option>
                                <option value="3">Não sei responder</option>
                                <option value="4">Prefiro não responder</option>
                                <option value="5">Outros</option>
                            </select>
                </div>
                <div class="form-floating col-sm-12 col-md-6 mb-2">
                    <select value="<%= ethnicity %>" disabled class="form-select" id="ethnicity" name="ethnicity">
                                <option>Raça/Cor*</option>
                                  <option value="1">Branca</option>
                                    <option value="2">Preta</option>
                                    <option value="3">Parda</option>
                                    <option value="4">Indígena</option>
                                    <option value="5">Amarela</option>
                                    <option value="6">Não desejo declarar</option>
                            </select>
                </div>
                <div class="form-floating col-sm-12 col-md-6 mb-2">
                    <input value="<%= zip_code %>" disabled type="text" class="form-control" name="zip_code" id="zip_code" placeholder="CEP">
                    <label for="floatingInput">CEP*:</label>
                </div>
                <div class="form-floating col-sm-12 col-md-6 mb-2">
                    <input value="<%= address %>" disabled type="text" class="form-control" name="address" id="address" placeholder="Rua">
                    <label for="floatingInput">Rua*:</label>
                </div>
                <div class="form-floating col-sm-12 col-md-6 mb-2">
                    <input value="<%= number %>" disabled type="text" class="form-control" name="number" id="number" placeholder="Número">
                    <label for="floatingInput">Número*:</label>
                </div>
                <div class="form-floating col-sm-12 col-md-6 mb-2">
                    <input value="<%= neighborhood %>" disabled type="text" class="form-control" name="neighborhood" id="neighborhood" placeholder="Bairro">
                    <label for="floatingInput">Bairro*:</label>
                </div>
                <div class="form-floating col-sm-12 col-md-6 mb-2">
                    <input value="<%= complement %>" disabled type="text" class="form-control" name="complement" id="complement" placeholder="Complemento">
                    <label for="floatingInput">Complemento*:</label>
                </div>
                <div class="form-floating col-sm-12 col-md-6 mb-2">
                    <input value="<%= city %>" disabled type="text" class="form-control" name="city" id="city" placeholder="Cidade">
                    <label for="floatingInput">Cidade*:</label>
                </div>
                <div class="form-floating col-sm-12 col-md-6 mb-2">
                    <input value="<%= email %>" type="text" class="form-control" name="email" id="email" placeholder="EMAIL">
                    <label for="floatingInput">Email*:</label>
                </div>
                <div class="form-floating col-sm-12 col-md-6 mb-2">
                    <input value="<%= email %>" type="text" class="form-control" name="confemail" id="confemail" placeholder="ConfEmail">
                    <label for="floatingInput">Confirmação de Email*:</label>
                </div>
                <div class="form-floating col-sm-12 col-md-6 mb-2">
                    <input type="password" class="form-control" name="password" id="password" placeholder="senha">
                    <label for="floatingInput">Senha*:</label>
                </div>
                <div class="form-floating col-sm-12 col-md-6 mb-2">
                    <input type="password" class="form-control" name="confSenha" id="floatingInput" placeholder="ConfEmail">
                    <label for="floatingInput">Confirmação de Senha*:</label>
                </div>
            </div>
         
            <div class="modal-footer">
                <% if (message) { %>
                    <div class="alert alert-danger alert-dismissible fade show" role="alert">
                        <strong><%= message %></strong>
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                    <% } %>
                        <button type="submit" class="btn btn-register">ALTERAR</button>
            </div>
        </form>
    </div>



    <footer class="relative-bottom">
        <div class="footer-img">
            <img src="/images/seringa.png" alt="">
        </div>
        <div class="copyright">Copyright &copy; 2021</div>
    </footer>



    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>
</body>

</html>